// .weather-container {
//     display: flex;
//     gap: 10px;
//     .weather-list-item {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         align-items: center;
//         gap: 10px;
//         border: 1px solid #000;
//         padding: 10px;
//         border-radius: 10px;
//         min-width: 200px;
//         height: auto;
//         background-color: #ffffff;
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
//     }
//     .broken_clouds_background {
//         background-image: url('../../../../public/assets/weather-background/broken_clouds.png');
//     }
//     .clear_sky_background {
//         background-image: url('../../../../public/assets/weather-background/clear_sky.png');
//     }
//     .overcast_clouds_background {
//         background-image: url('../../../../public/assets/weather-background/overcast_clouds.png');
//     }
//     .hot_clear_sky_background {
//         background-image: url('../../../../public/assets/weather-background/hot_clear_sky.png');
//     }
//     .night_background {
//         background-image: url('../../../../public/assets/weather-background/night.png');
//     }
//     .rain_background {
//         background-image: url('../../../../public/assets/weather-background/rain.png');
//     }
//     .scattered_clouds_background {
//         background-image: url('../../../../public/assets/weather-background/scattered_clouds.png');
//     }
//     .very_hot_clear_sky_background {
//         background-image: url('../../../../public/assets/weather-background/very_hot_clear_sky.png');
//     }
//     .few_clouds_background {
//         background-image: url('../../../../public/assets/weather-background/few_clouds.png');
//     }
//     .wind_speed_0_10 {
//         background-image: url('../../../../public/assets/wind-symbols/light_wind.png');
//         background-size: contain;
//         background-position: center;
//         background-repeat: no-repeat;
//         display: block;
//     }
//     .wind_speed_10_20 {
//         background-image: url('../../../../public/assets/wind-symbols/medium_wind.png');
//         background-size: contain;
//         background-position: center;
//         background-repeat: no-repeat;
//         display: block;
//     }
//     .wind_speed_20_30 {
//         background-image: url('../../../../public/assets/wind-symbols/high_wind.png');
//         background-size: contain;
//         background-position: center;
//         background-repeat: no-repeat;
//         display: block;
//     }
//     .wind_speed_30_plus {
//         background-image: url('../../../../public/assets/wind-symbols/very_high_winds.png');
//         background-size: contain;
//         background-position: center;
//         background-repeat: no-repeat;
//         display: block;
//     }
// }

.weather-card-container {
    position: relative;
    box-shadow: 0px 0px 13px 12px #a9a9a9;
    width: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding-bottom: 10px;
    background: linear-gradient(102deg, #a2d3ff, rgba(255, 255, 255, 0.5294117647));
    .temperature {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        color: #0A2540;
    }
    .container {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: linear-gradient(306deg, #dcf0fb, #f7f7f7);
        width: 160px;
        height: 40px;
        margin: 5px;
        padding-left: 15px;
        padding-right: 5px;
        .description {
            font-size: 12px;
            font-weight: 500;
            color: #0A2540;
            width: 125px;
        }
    }
}